<section class="container my-4">
  <mat-card class="py-4 p-lg-5">
    <mat-card-header>
      <mat-card-title>
        <h2 class="mb-4 mb-lg-0">{{ title }}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <p>
          Esta aplicación se encuentra en desarrollo, muy pronto podrás
          convertir tus archivos de audio, video, imágenes y documentos, entre
          otros.
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
          <img
            src="/assets/images/conversions.svg"
            alt="Formulario"
            class="img-fluid user-select-none" />
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
