<section class="pt-5 container">
  <mat-card class="p-5 w-50 mx-auto">
    <h1 class="mb-4">Iniciar sesión</h1>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="d-flex flex-column mx-auto">
      <mat-form-field appearance="standard">
        <mat-label>Usuario</mat-label>
        <input
          matInput
          [required]="false"
          type="text"
          placeholder="Ingresa tu nombre de usuario"
          formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [required]="false"
          type="password"
          placeholder="Ingresa tu contraseña"
          formControlName="password" />
      </mat-form-field>

      <section class="text-right">
        <mat-slide-toggle formControlName="rememberMe">
          Recuérdame
        </mat-slide-toggle>
      </section>

      <section class="text-right mt-4">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!loginForm.valid">
          Ingresar
        </button>
      </section>
    </form>
  </mat-card>
</section>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
