<mat-drawer-container [hasBackdrop]="false" class="h-100">
  <mat-drawer #drawer mode="side" class="mat-drawer">
    <mat-nav-list>
      <app-nav-link link="/pages/bienvenido" icon="home">
        Bienvenido
      </app-nav-link>
      <app-nav-link link="/pages/conversiones" icon="swap_horiz">
        Conversiones
      </app-nav-link>
      <app-nav-link link="/pages/calcula-fecha" icon="event">
        Calcula fecha
      </app-nav-link>
      <app-nav-link link="/pages/formulario" icon="assignment">
        Formulario
      </app-nav-link>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <section class="d-flex align-items-center justify-content-between w-100">
        <section class="d-flex align-items-center">
          <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <h1 class="m-0">Awesome App</h1>
        </section>
        <section class="ml-auto">
          <button type="button" mat-button (click)="openDialog()">
            <mat-icon>exit_to_app</mat-icon>
            Salir
          </button>
        </section>
      </section>
    </mat-toolbar>
    <section class="mt-0">
      <router-outlet></router-outlet>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
