<section class="container">
  <h1 mat-dialog-title>Cerrar sesión</h1>
  <mat-dialog-content>
    <p>
      Si cierras sesión, tendrás que volver a iniciar sesión para poder acceder
      a la aplicación.
    </p>
    <p>¿Estás seguro que deseas cerrar sesión?</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" mat-flat-button color="primary" (click)="onNoClick()">
      No, gracias
    </button>
    <button type="button" mat-button cdkFocusInitial (click)="logout()">
      Sí, cerrar sesión
    </button>
  </mat-dialog-actions>
</section>
