.banner {
  align-items: center;
  background-image: url('/assets/images/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  position: relative;
}

.banner-drop {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  width: 100%;
  gap: 1rem;
}
